driver=com.mysql.jdbc.Driver
url=jdbc:mysql://666.666.666.666:666/666
username=user
password=password

#定义初始连接数
initialSize=5

#定义最大连接数
maxActive=50

#定义最大空闲
maxIdle=20

#定义最小空闲
minIdle=5

#定义最长等待时间
maxWait=25000

#连接被泄露时是否打印
logAbandoned=true

#是否自动回收超时连接
removeAbandoned=true

#超时时间(以秒数为单位)
removeAbandonedTimeout=20